$rich-black-fogra-29: #010212ff;
$raisin-black: #161621ff;
$gray-web: #808080ff;
$blue-crayola: #0073ffff;
$fuchsia: #e04ae0ff;
$red: #ff0000ff;
$kelly-green: #34bf11ff;
$sizzling-sunrise: #ffdd00ff;
$white: #ffffffff;