@import "bulma";
@import "utils";

$rich-black-fogra-29: #010212ff;
$raisin-black: #161621ff;
$gray-web: #808080ff;
$blue-crayola: #0073ffff;
$fuchsia: #e04ae0ff;
$red: #ff0000ff;
$kelly-green: #34bf11ff;
$sizzling-sunrise: #ffdd00ff;
$white: #ffffffff;


$primary: $blue-crayola;
$info: $fuchsia;
$danger: $red;
$warning: $sizzling-sunrise;
$success: $kelly-green;
$black: $rich-black-fogra-29;
$dark: $raisin-black;
$light: $gray-web;

$primary-invert: findColorInvert($primary);
$info-invert: findColorInvert($info);
$danger-invert: findColorInvert($danger);
$warning-invert: findColorInvert($warning);
$success-invert: findColorInvert($success);

$primary-dark: findDarkColor($primary);
$info-dark: findDarkColor($info);
$danger-dark: findDarkColor($danger);
$warning-dark: findDarkColor($warning);
$success-dark: findDarkColor($success);

$primary-light: findLightColor($primary);
$info-light: findLightColor($info);
$danger-light: findLightColor($danger);
$warning-light: findLightColor($warning);
$success-light: findLightColor($success);

//$addColors: (
//        "green": ($colorGreen, $colorGreenInvert),
//        "yellow": ($colorYellow, $colorYellowInvert),
//        "red": ($colorRed, $colorRedInvert),
//        "grey": ($colorGrey, $colorGreyInvert)
//);
//$colors: map-merge($colors, $addColors);